.Feed{
    margin-top: 60px; // to fix navbar
    .container{
        display: flex;
        gap: 40px;
        overflow: hidden;
        height: 80vh;
    }
    .left-part{
        flex: 2 ; 
        // overflow-y: auto;   
    }
    .right-part{
        flex: 1 ;  
        margin-top: 20px;
    }
    .title{
        margin-bottom: 12px;
    }
    .suggestions{
         margin-top: 40px;
        margin-bottom: 12px;

    }
}

@media only screen  and (max-width: 768px){
    .Feed{
        .container{
            flex-direction: column;
        }
    }
}
